.Person{
    width: 60%;
    border: 1px solid #eee;
    margin: 20px auto;
    padding: 16px;
    text-align: center;
    box-shadow: 0 1px 2px #ccc;
}

@media (min-width: 500px){
    .Person{
        width: 450px;
    }
}