.Cockpit button{
    border: 1px solid blue;
    padding: 16px;
    font-family: inherit;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .Cockpit button.Green{
    background-color: green;
    color: black;
  }
  
  .Cockpit button.Green:hover{
    background-color: lightgreen;
  }
  
  .Cockpit button.Red {
    background-color: red;
    color: white;
  }
  
  .Cockpit button.Red:hover{
    background-color: salmon;
  }